@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');


img {
    width: 100%;
}
html {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family: "Source Serif 4", 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    animation:blur-in 0.5s linear both

}
@keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

main {   
    max-width: 480px;
    padding: 2rem;
}
.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    img {
        object-fit: cover;
        width: 15rem;
        height: 15rem;
        border-radius: 100%;
    }
    p{
        text-align: center;
    }
}

.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        background-color: white;
        text-align: center;
        color: black;
        width: 100%;
        padding: 1rem;
        border-radius: 8rem;
        text-decoration: none;

        
    }
    .size-5 {
        width: 1.5rem;
    }
    a:hover {
        background-color: #333;
        color: white;
    }
}
