
*{
    box-sizing: border-box;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    margin: 0 0 1rem 0;
    scroll-behavior: smooth;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3.5rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2rem;
}
p{
    font-size: 1rem;
}
body{
    background: linear-gradient(0deg, #0a0a0a 50%, #753CE3);
    color: #FFFFFF;

}
main{
    margin: 0 auto;
    max-width: 980px;
    padding: 15rem 1rem 0 1rem;
}
button{
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    font-weight: 600;
}

/* Header */

.header p{
    font-size: 1.5rem;
}
.header button{
    font-size: 1.5rem;
    background: #0a0a0a;
    color: #FFFFFF;
    cursor: pointer;
}
.header button:hover{
    scale: 1.2;
    background: #FFFFFF;
    color: #0a0a0a;
}

/* Grilla */
.grid{
    padding: 2rem 0;
    display: grid;
    max-width: 900px;
    height: auto;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card{
    padding: 2rem;
    height: 100%;
    border-radius: 2rem;
    color: #0a0a0a;
    list-style: none;
}
.card li{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.card button{
    background-color: #0a0a0a;
    color: #FFFFFF;
}
.card-c-s{
    background: linear-gradient(30deg, #999999, #FFFFFF 55%);
}
.card-c-p{
    background: linear-gradient(30deg, #EBB86C,#8526FE);
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.15);

}
.card-light{
    color: #FFFFFF;
    box-shadow: 0 -10px 20px 0px rgba(255, 255, 255, 0.15)
}
.card-light p{
    background: linear-gradient(0deg, #BB582E,#8526FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* Navegacion del menu */
.nav-bar{
    padding: 0 1rem;
    height: 3.8rem;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.nav-bar img{
    height: 3rem;
}

/* contenido del menu */
.nav{
    display: none;
}
.nav-active{
    padding: 6rem 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    padding: 2rem;
    text-align: center;
}

.nav-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem
}
.nav-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.nav-menu ul a {
    cursor: pointer;
    border: 1px solid #4d4d4d;
    text-decoration: none;
    color: white;
    padding: .8rem;
    border-radius: .2rem;
}
.nav-menu ul a:hover{
    background-color: white;
    color: black;
}

/* toongle */
.tonggle{
    width: 2.3rem;
    height: 2.3rem;
    transform: rotate(0deg);
    animation: alternate-reverse;
    transition: transform 0.5s ease;
}
.active{
    transform: rotate(-45deg);
    animation: alternate-reverse;
    transition: transform 0.5s ease;
}
.nav-tonggle{
    padding-top: 10px;;
    color: white;
    cursor: pointer;
}

/* Especificos */
.beneficios{
    max-width: 800px;
}

@media screen and (min-width: 800px){
    .info-media{
        flex-direction: row;
    }
}